doctype 5
html
  head
    title Python Program Tester
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    p Python Program Tester uses 
      a(href="http://ideone.com") Ideone API 
      &copy; by 
      a(href="http://sphere-research.com") Sphere Research Labs
  // One of the things jQuery *is* good for is RAD
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src='/javascripts/post.js')